<div class="container mat-typography">
  <mat-toolbar color="primary" class="mat-elevation-z4 toolbar">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="flex-auto"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with theme mode toggle icon"
      (click)="themeService.toggleThemeMode()"
      matTooltip="Toggle Dark / Light theme"
      matTooltipPosition="below"
    >
      <mat-icon>brightness_medium</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with theme toggle icon"
      [matMenuTriggerFor]="menu"
      matTooltip="Switch themes"
      matTooltipPosition="below"
    >
      <mat-icon>palette</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="example-container h-100" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list role="list" class="p-0">
        <mat-list-item
          role="button"
          (click)="activeTab = 0"
          class="selectable-item"
          [ngClass]="{ active: activeTab == 0 }"
          >Button</mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item
          role="button"
          (click)="activeTab = 1"
          class="selectable-item"
          [ngClass]="{ active: activeTab == 1 }"
          >Slide Toggle</mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item
          role="button"
          (click)="activeTab = 2"
          class="selectable-item"
          [ngClass]="{ active: activeTab == 2 }"
          >Chips</mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item
          role="button"
          (click)="activeTab = 3"
          class="selectable-item"
          [ngClass]="{ active: activeTab == 3 }"
          >Progress</mat-list-item
        >
        <mat-divider></mat-divider>
      </mat-list>
    </mat-drawer>

    <div class="example-sidenav-content">
      <mat-tab-group
        mat-stretch-tabs="false"
        mat-align-tabs="start"
        backgroundColor="accent"
        [selectedIndex]="activeTab"
        (selectedIndexChange)="activeTab = $event"
      >
        <mat-tab label="Button">
          <app-button-page></app-button-page>
        </mat-tab>
        <mat-tab label="Slide Toggle">
          <app-slide-toggle-page></app-slide-toggle-page>
        </mat-tab>
        <mat-tab label="Chips">
          <app-chips-page></app-chips-page>
        </mat-tab>
        <mat-tab label="Progress">
          <app-progress-page></app-progress-page>
        </mat-tab>
        <mat-tab label="Progress Spinner">
          <app-progress-spinner-page></app-progress-spinner-page>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-drawer-container>
</div>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let theme of themeOptions">
    <button mat-menu-item (click)="themeService.toggleTheme(theme.value)">
      <mat-icon role="img" color="primary">
        <ng-container
          *ngIf="themeService.activeTheme === theme.value; else unchecked"
        >
          radio_button_checked
        </ng-container>
      </mat-icon>
      <span>{{ theme.text }}</span>
    </button>
  </ng-container>
</mat-menu>

<ng-template #unchecked> radio_button_unchecked </ng-template>
